*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 920px;
    margin: auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}